#micropost_content{
  width: 200px;
  height: 100px;
}

h1{
  display: flex;
  margin-left: 150px;
  margin-bottom: 30px;
}

.titlearea{
 
  display: flex;
  margin-left: 250px;
 
  margin-bottom: 20px;
}

.titlearea p{
  margin-right: 30px;
  
}


#micropost_content{
  margin-left: 0;
}

.btnbtn-primary{
  width: 1000px;
}

.container h2{
  margin-bottom: 20px;
}

.field{
  margin-bottom: 20px;
}



